{% extends 'base.html' %}
{% block title %}Liste des films{% endblock %}

{% block content %}
{% load static %}

<h2 class="text-white text-center m-3 p-3 bg-dark bg-opacity-75 rounded-3 shadow">Liste des films</h2>

<div class="row">
  {% for film in page_obj %}
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
      {% if film.poster %}
      <img src="{{film.poster.url}}" class="card-img-top" alt="{{ film.title }}">
      {% else %}
      <img src="{% static 'img/default.png' %}" class="card-img-top" alt="No image">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ film.title }}</h5>
        <p class="card-text">{{ film.description|truncatechars:100 }}</p>
        <a href="{% url 'film_detail' film.pk %}" class="btn btn-sm btn-outline-primary">Voir le détail</a>
      </div>
    </div>
  </div>
  {% empty %}
    <p>Aucun film trouvé.</p>
  {% endfor %}
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center text-white">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">&laquo; Premier</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Précédent</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">&laquo; Premier</span></li>
      <li class="page-item disabled"><span class="page-link">Précédent</span></li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</span>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Suivant</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Dernier &raquo;</a>
      </li>
    {% else %}
      <li class="page-item disabled"><span class="page-link">Suivant</span></li>
      <li class="page-item disabled"><span class="page-link">Dernier &raquo;</span></li>
    {% endif %}
  </ul>
</nav>

{% endblock %}