<!DOCTYPE html>
<html lang="fr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Cinema</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

  <link rel="stylesheet" type="text/css" />
</head>

<body>
  <!--
      Navbar & Banner
    -->
  <nav>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a href="{% url 'index' %}">ACCUEIL</a>
          <a href="{% url 'film-list' %}">CINEMAS</a>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, explicabo enim amet culpa nihil inventore obcaecati error eaque, praesentium a tempora distinctio quidem accusamus laudantium excepturi quod iusto quos maiores?</p>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>Copyright &copy; Diana Potupis 2025</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</body>

</html>