{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-white text-center m-3 p-3 bg-dark bg-opacity-75 rounded-3 shadow">{% trans "Mes réservations" %}</h2>
  <a href="{% url 'reservation_create' %}" class="btn btn-success mb-3">➕ {% trans "Nouvelle réservation" %}</a>

  {% if page_obj %}
  <table class="table table-bordered bg-white shadow">
    <thead>
      <tr>
        <th>{% trans "Film" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Heure" %}</th>
        <th>{% trans "Salle" %}</th>
        <th>{% trans "Places" %}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for r in page_obj %}
      <tr>
        <td>{{ r.seance.film.title }}</td>
        <td>{{ r.seance.date }}</td>
        <td>{{ r.seance.time|time:"H:i" }}</td>
        <td>{{ r.seance.hall.name }}</td>
        <td>{{ r.places }}</td>
        <td>
            <a href="{% url 'reservation_edit' r.id %}" class="btn btn-sm btn-warning" style="background-color: rgb(226, 98, 226) ;">{% trans "Modifier" %}</a>
            {% if can_delete_reservations %}
                <form action="{% url 'reservation_delete' r.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger" style="background-color: darkviolet;" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réservation ?')">{% trans "Supprimer" %}</button>
                </form>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="alert alert-info">{% trans "Vous n’avez aucune réservation." %}</p>
  {% endif %}
</div>

{% include 'includes/pagination_section.html' %}

{% endblock %}
