{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Liste des films" %}{% endblock %}

{% block content %}
{% load static %}

<h2 class="text-white text-center m-3 p-3 bg-dark bg-opacity-75 rounded-3 shadow">{% trans "Liste des films" %}</h2>

<div class="row">
  {% for film in page_obj %}
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
      {% if film.poster %}
      <img src="{{film.poster.url}}" class="card-img-top" alt="{{ film.title }}">
      {% else %}
      <img src="{% static 'img/default.png' %}" class="card-img-top" alt="No image">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ film.title }}</h5>
        <p class="card-text">{{ film.description|truncatechars:100 }}</p>
        <a href="{% url 'film_detail' film.pk %}" class="btn btn-sm btn-outline-primary">{% trans "Voir le détail" %}</a>
      </div>
    </div>
  </div>
  {% empty %}
    <p>{% trans "Aucun film trouvé." %}</p>
  {% endfor %}
</div>

{% include 'includes/pagination_section.html' %}  

{% endblock %}